 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 
  
}


@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary:  oklch(65% 0.25 140);
  --color-secondary: teal;
}

.my-btn{
  @apply btn w-full bg-gradient-to-r from-indigo-900 via-purple-400 to-pink-900 text-white font-semibold border-none hover:scale-105 transition-transform duration-200 mb-2 shadow-xl ;
}

.btn-nav{
  @apply md:px-2 lg:px-5 font-bold rounded-lg text-white bg-linear-to-r from-indigo-900 via-purple-300 to-pink-900  hover:scale-105 transition-transform duration-200 shadow-xl;
}